=link_to("Data",data_path(@bank.id),:class=>'button radius tiny', :remote => true)
=link_to("Graph", "#",id:"graphit")

.row
  .small-12
    %h1= @bank.name


=link_to("New Transaction",trans_path,:class=>'button radius tiny', :remote => true)
#trans_form

= link_to('Transfer', new_transaction_path, :class=>'button radius tiny', :remote=>true)
#transaction_form

#main_show
  #data
    =render :partial => "data"
  #graph
    %script
      getchartdata();




