
=link_to("Data", "#")
=link_to("Graph", "#",id:"graphit")

.row
  .small-12
    %h1= @bank.name

#main_show
  =render :partial => "data"

= link_to('Transfer', new_transaction_path, :class=>'button radius tiny', :remote=>true)
#transaction_form
#graph
