#anonymous
#container
  .row
  .large-12.columns
    = link_to('New Account', new_user_path, :remote => true, :class => 'button large radius')
    = link_to('Login', login_path, :remote => true, :class => 'button large radius', 'data-reveal-id' => 'formid')
    #form
    #banks
      = render :partial => 'banks'
