%h1 There's no place like home.
#anonymous
#container
#transaction_form
.row
  .large-12.columns
    = link_to('New Account', new_user_path, :remote => true, :class => 'button large radius')
    = link_to('Login', login_path, :remote => true, :class => 'button large radius')
    #form
