body
{
  background: url('pie-lady.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#thumbs
{
  opacity: 0.2;
}

.login_form
{
  width: 350px;
  background-color: white;
}