        <div class="row">

          <div class="large-6 columns">

            <img src="http://placehold.it/500x500&text=Image"><br>

          </div>


          <div class="large-6 columns">

            <h3 class="show-for-small">Header<hr/></h3>
<%= link_to('New Account', new_user_path, :remote => true, :class => 'button small radius') %>
          <%= link_to('Login', login_path, :remote => true, :class => 'button small radius') %>
            <div class="panel">

              <h4 class="hide-for-small">Header<hr/></h4>

            </div>

          <div class="row">
              <div class="large-6 small-6 columns">
                <div class="panel">
                  <h5>Header</h5>
                <h6 class="subheader">Praesent placerat dui tincidunt elit suscipit sed.</h6>
                <a href="#" class="small button">BUTTON TIME!</a>
                </div>
              </div>

              <div class="large-6 small-6 columns">
                <div class="panel">
                  <h5>Header</h5>
                <h6 class="subheader">Praesent placerat dui tincidunt elit suscipit sed.</h6>
                <a href="#" class="small button">BUTTON TIME!</a>
                </div>
              </div>
          </div>

          </div>

        </div>

            <div id="thumbs"></div>

